*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo{
    width: 15%;
}

header{
    width: 100%;
    max-width: inherit;
}

nav{
    position: fixed;
    width: inherit;
    max-width: inherit;
    top: -50px;
    transition: top 0.3s;
    z-index: 999;
}

.Hdivider:after,
.Hdivider:before {
content: "";
width: 2rem;
height: 1px;
background: rgb(185, 185, 185);
}

.about-img{
    width: 25rem;
    float: right;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}