*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo{
    width: 15%;
}

#home{
    width: 100%;
    max-width: inherit;
}

#home nav{
    position: fixed;
    width: inherit;
    max-width: inherit;
    top: -50px;
    transition: top 0.3s;
    z-index: 9999;
}

.homeDivider:after,
.homeDivider:before {
content: "";
width: 2rem;
height: 1px;
background: rgb(185, 185, 185);
}

.about-img{
    width: 25rem;
    float: right;
}

.loginDivider:after,
.loginDivider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.h-custom {
height: calc(100% - 73px);
}

#signUp{
    display: none;
}

.booksDivider:after,
.booksDivider:before {
content: "";
flex: 1;
height: 1px;
background: rgb(185, 185, 185);
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}
#login img{
    display: none;
}
#signUp img{
    display: none;
}
}